.teScriber {
    margin: 1px;
    
    .te-edit-container {
        .te-content-name {
            color: white;
            background-color: grey;
            font-size: 0.75rem;
            display: flex;
            align-items: center;

            p {
                padding-left: 0.25em;
                flex-grow: 1;
            }
            .te-btn {
                border: solid 1px white;
                border-style: outset;
                border-radius: 0.2em;
                padding: 0.15em;
                margin: 0.25em;
            }
            .te-btn.active {
                border-style: inset;
            }
            .te-btn:hover {
                cursor: pointer;
            }
        }
        .te-content-name.te-hidden {
            display: none;
        }
        .te-edit-content {
            border: solid 1px transparent;
            border-radius: 4px;
        }
        .trumbowyg-button-pane {
            font-size: 1rem;
        }
    }
    .te-edit-container.TE_MODE_HIDDEN {
        display: none;
    }
    .te-edit-container.TE_MODE_STANDARD {
        .te-content-name {
            display: none;
        }
    }
    .te-edit-container.TE_MODE_PREVIEW {
        .te-edit-content:hover {
            border-color: gray;
        }
    }
}

// seems that importing .css stylesheets here doesn't work !?
//@import '../../third-party/fonts/arial/stylesheet.css';
//@import '../../third-party/fonts/comic/stylesheet.css';
//@import '../../third-party/fonts/courier/stylesheet.css';
//@import '../../third-party/fonts/cousine/stylesheet.css';
//@import '../../third-party/fonts/josefin/stylesheet.css';
//@import '../../third-party/fonts/orbitron/stylesheet.css';
//@import '../../third-party/fonts/serpentine/stylesheet.css';
//@import '../../third-party/fonts/tahoma/stylesheet.css';
//@import '../../third-party/fonts/ubuntu/stylesheet.css';

@font-face {
    font-family: 'Arial';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/arial/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Black';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/arial/Arial-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Comic Sans';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/comic/LDFComicSans.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Sans';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/comic/LDFComicSansLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Sans';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/comic/LDFComicSansHairline.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Sans';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/comic/LDFComicSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Courier';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/courier/CourierPrime-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courier';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/courier/CourierPrime-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Courier';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/courier/CourierPrime-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Courier';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/courier/CourierPrime-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cousine';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/cousine/Cousine-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cousine';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/cousine/Cousine-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cousine';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/cousine/Cousine-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cousine';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/cousine/Cousine-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Josefin Sans';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/josefin/JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/josefin/JosefinSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/josefin/JosefinSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/josefin/JosefinSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/josefin/JosefinSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/josefin/JosefinSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Orbitron';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/orbitron/Orbitron-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/orbitron/Orbitron-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/orbitron/Orbitron-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/orbitron/Orbitron-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Serpentine';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/serpentine/Serpentine-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Serpentine';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/serpentine/Serpentine-ICGLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Serpentine';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/serpentine/Serpentine-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/ubuntu/UbuntuMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/ubuntu/UbuntuMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/ubuntu/UbuntuMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/packages/pwix_editor/src/client/third-party/fonts/ubuntu/UbuntuMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
