<template name="toggle_switch">
    <div class="te-toggle-switch d-flex flex-row align-items-center">

        <div class="d-flex flex-row align-items-center">

            {{#if label "labelLeft" }}
                <div style="margin-right: 0.5em">
                    {{{ label "labelLeft" }}}
                </div>
            {{/if}}

            <div class="d-flex flex-column align-items-center">
                {{#if label "labelTop" }}
                    <div style="margin-bottom: 2px">
                        {{{ label "labelTop" }}}
                    </div>
                {{/if}}

                <label class="switch" title="{{ title }}">
                    <input type="checkbox" />
                    <span class="slider round"></span>
                </label>
        
                {{#if label "labelBottom" }}
                    <div>
                        {{{ label "labelBottom" }}}
                    </div>
                {{/if}}
            </div>

            {{#if label "labelRight" }}
                <div style="margin-left: 0.5em">
                    {{{ label "labelRight" }}}
                </div>
            {{/if}}

        </div>

    </div>
</template>
